# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable d-struct': 'd-struct:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'd-struct'
      'submenu': [
        { 'label': 'Run dub in project root', 'command': 'd-struct:dub' },
      ]
    ]
  }
]
