# See https://atom.io/docs/latest/creating-a-package#menus for more details
# 'context-menu':
#   '.overlayer':
#       'Enable d-struct': 'd-struct:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'd-struct'
      'submenu': [
        { 'label': 'dub build', 'command': 'd-struct:dub-build' },
      ]
    ]
  }
]
